.Container
{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(216, 202, 202);
    box-shadow: 0px 2px 2px #ccc; 
    position: absolute;
    left: 40%;
    top: 15%;
}
.Boardrow
{
    height: 33%;
    width: 100%;
    border: 1px solid #000;
    background-color: darkgray;
}
.Btn
{
    height: 95%;
    width: 30%;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    color: #000;
}
.Text-center
{
    text-align: center;
    font-size: 30px;
}